

.header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--heightHeader);
    background: linear-gradient(to right, #10172b, #331a58);
    border-bottom: 1px solid rgba(111, 111, 247, 0.253);
    z-index: 1;
}

.header .navContainer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    gap: 2rem;
}

.header .navContainer .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
   width: 20%;

}

.header .navContainer .imgContainer img {
    width: 80%;
}

.header .navContainer .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header .navContainer .navigation .listNavigation  {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.header .navContainer .navigation .listNavigation li a {
    color: var(--textColorPrincipal);
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 5px;
    transition: all 0.4s ease-in-out;
}

.header .navContainer .navigation .listNavigation li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 4px;
    background-color: var(--corBotaoPrincipal);
    width: 0;
    transition: all 0.4s ease-in-out;
}

.header .navContainer .navigation .listNavigation li a:hover::after {
    width: 100%;
    left: 0;
}

.header .navContainer .navigation .listNavigation li a:hover {
    color: var(--corBotaoPrincipal);
    
}

@media (max-width: 760px) {
    .header .navContainer .navigation {
        display: none;
    }
}
