.footer {
     display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    color: #fff;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, #581C87, #12172E);
   
}