.h1Projects {
    font-size: clamp(2rem, 4vw, 3.5rem);
    background-image: linear-gradient(to right, #2ACFED, #F274B8);
    margin-bottom: 3.5rem;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    display: inline-block;
}

 .h1Projects::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px; /* distância entre o texto e a borda */
  width: 50%; /* você pode reduzir, ex: 60%, se quiser menor */
  height: 7px;
  background: linear-gradient(to right, #2ACFED, #F274B8);
  border-radius: 4px;
}
