.courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #2C194E, #181835);
    width: 100%;
    
}

.h1Courses {
    
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 8rem;
    background-image: linear-gradient(to right, #2ACFED, #F274B8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    display: inline-block;
    
}

 .h1Courses::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px; /* distância entre o texto e a borda */
  width: 50%; /* você pode reduzir, ex: 60%, se quiser menor */
  height: 7px;
  background: linear-gradient(to right, #2ACFED, #F274B8);
  border-radius: 4px;
}

.containerCourses {
    display: flex;
   
    flex-wrap: wrap;
    gap: 3rem;
    width: 92%;
   margin-bottom: 5rem;
    
}

.divCourse {
    display: flex;
    flex-direction: column;
    width: 350px;
     background-color: #50046e;
   border-radius: 10px;
}

.divImage {
    width: 100%;
    height: 250px;
    background-color: #030303;
   
}

.imgCourse {
    width: 100%;
    height: 100%;
    
}

.unicorp {
   
    object-fit: contain;  
      padding: 10px;
    box-sizing: border-box;

}

.divText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 1rem;
   
   
} 

.nameCourse {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(.8rem, 1.6rem, 3rem);
    margin-bottom: 1rem;
}

.paragraph {
    font-size: clamp(.6rem, 1rem, 2rem);
}