:root {
    --fundoPrincipal: #121212;
    --fundoComponentes: #242424;
    --textColorPrincipal: #E0E0E0;
    --textColorSecundario: #9E9E9E;
    --corBotaoPrincipal: #00C4FF;

}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}